html,
body {
	height: 100%;
}

h4.special {
	color: #86af49;
}

h5.special {
	font-weight: 500;
}

#side-logo {
	display: none;
}
	#mainNav{
		
		padding: 3em 1em;
	}
/*
------------------------- Side menu adjustments*/

#layout,
#sidenav,
.hamburger {
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

#layout {
	position: relative;
	left: 0;
	padding-left: 0;
	overflow: hidden;
}

#layout.active #sidenav {
	left: 12em;
	width: 12em;
}

#layout.active .hamburger {
	left: 21.6em;
}


#sidenav {
	background-color: #fff;
	position: fixed;
	width: 12em;
	margin-left: -12em;
	top: 0;
	bottom: 0;
	left: 0;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	z-index: 1000;
}

.hamburger {
	position: fixed;

	background: rgba(134, 175, 73, 0.85);
	box-sizing: content-box;
	display: block;
	font-size: 0.556em;
	height: auto;
	left: 0;
	padding: 2.5em 1.6em;
	top: 0;
	width: 2em;
	z-index: 10;
}


.hamburger:hover,
.hamburger:focus {
	background: #86af49;
}

.hamburger span {
	position: relative;
	display: block;
}

.hamburger span,
.hamburger span:before,
.hamburger span:after {
	background-color: #fff;
	width: 100%;
	height: 0.2em;
}

.hamburger span:before,
.hamburger span:after {
	position: absolute;
	margin-top: -0.6em;
	content: " ";
	box-sizing: initial;
}

.hamburger span:after {
	margin-top: 0.6em;
}


.navigation ul {
	margin-bottom: .8em;
	margin-top: .3em;
	padding-left: 1em;
}

.navigation ul li {
	list-style-type: none;
	margin-bottom: .3em;
}

.nav-header {
	font-weight: 500;
	text-transform: uppercase;
}

.sections {
	margin-top: 1.5em;
}

footer {
	padding: .8em 0;
	text-align: center;
	background-color: #817397;
	color: #fff;
	font-size: 1rem;
	margin-top:2em;
}
footer + .container{
	width:100%;
}

.navigation__link.active {
	color: #86af49;
}

.container.example {
	padding: 0;
}

.grid-visible {
	background: #86af49;
	color: #fff;
	display: block;
	font-size: 0.75rem;
	height: 3rem;
	letter-spacing: .1rem;
	line-height: 3rem;
	margin-bottom: 2.5rem;
	text-align: center;
}

#test-nav {
	font-size: .889em;
	margin-bottom: 2rem;
}

.nav-logo a {
	padding: 1em 1.5em;
}


@media (max-width:768px) {
	#layout.active {
		position: relative;
		left: 12em;
	}
}

@media only screen and (min-width: 768px) {
footer + .container{
	width:100%;
}
/*		#mainNav{
		
		padding: 0 1em;
	}*/
	
	#layout {
		padding-left: 12em;
		left: 0;
	}
	.hamburger {
		position: fixed;
		left: 12em;
		display: none;
	}
	#layout.active .hamburger {
		left: 12em;
	}

	#mainNav{
		margin-top:4em;
		padding:3em 2em;
		
	}

	#side-logo {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		position: fixed;
		top: 0;
		left:.76em;
		display: block;
		

	}
	#sidenav {
		/*width: 12em;
		margin-left: .938em;
		top: 8em;
		bottom: 6em;
		overflow-y: auto;*/
		left:12em;
		width:13em;
		bottom:0;
	}
	

	.navigation ul {
		padding-left: 2.5em;
	}
	.sections {
  margin-left:2rem;
		padding: 3em;
	}

	footer {
		padding: 1.5em 0;
		text-align: left;
		margin-left: 2rem;
		
	}
}